<h2>Users</h2>

<input
  type="text"
  [(ngModel)]="searchTerm"
  (ngModelChange)="onSearchTermChange()"
  placeholder="Search by name, last name, or email"
/>

<table>
  <thead>
    <tr>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>ტელეფონი</th>
      <th>მეილი</th>
      <th>კომპანია</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let u of filteredUsers">
      <td>{{ u.name.split(" ")[0] }}</td>
      <td>{{ u.name.split(" ")[1] }}</td>
      <td>{{ u.phone }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.company.name }}</td>
      <td>
        <button class="post-btn" (click)="goToPosts(u.id)">პოსტები</button>
        <button class="todo-btn" (click)="goToTodos(u.id)">Todos</button>
      </td>
    </tr>
  </tbody>
</table>
