.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .wheel-box {
    position: relative;

    .wheel {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #333;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 3s ease-out;
      background: conic-gradient(
        #f00 0deg 36deg,
        #0f0 36deg 72deg,
        #00f 72deg 108deg,
        #ff0 108deg 144deg,
        #0ff 144deg 180deg,
        #f0f 180deg 216deg,
        #888 216deg 252deg,
        #f80 252deg 288deg,
        #08f 288deg 324deg,
        #f08 324deg 360deg
      );

      .sector-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        font-weight: bold;
      }
    }

    .wheel-indicator {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 25px solid red;
      right: 5px;
      top: 35px;
      rotate: 55deg;
      z-index: 10;
    }
  }

  input {
    margin-top: 10px;
    width: 80px;
    text-align: center;
  }

  button {
    margin-top: 10px;
  }

  .error {
    color: red;
    margin-top: 5px;
  }
}

.leaderboard-section {
  margin-top: 30px;
  width: 100%;
  text-align: center;

  .leaderboard-filters {
    margin-bottom: 10px;

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #333;
      background-color: #fff;
      cursor: pointer;
      border-radius: 4px;
      transition: 0.3s;

      &.active {
        background-color: #333;
        color: #fff;
        font-weight: bold;
      }

      &:hover {
        background-color: #555;
        color: #fff;
      }
    }
  }

  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th,
    td {
      padding: 8px 12px;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f0f0f0;
    }
  }
}
