.layout {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

app-sidebar {
  width: 200px;
}

.main-content {
  flex: 1;
  max-width: 50%;
  margin: 80px auto 60px auto;
  min-height: calc(100vh - 200px);

  @media (max-width: 1024px) {
    max-width: 80%;
  }
}
