.layout {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

app-sidebar {
  width: 200px;
  background: #f5f5f5;
}

.main-content {
  flex: 1;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 60px;
  min-height: calc(100vh - 60px - 50px);

  @media (max-width: 1024px) {
    max-width: 80%;
  }
}
