body {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }

  @media (max-width: 1440px) {
    & {
      font-size: 11px;

      button {
        font-size: 10px;
      }

      td {
        padding: 8px 12px;
        border: 1px solid #ccc;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      td {
        padding: 5px 10px;
        border: 1px solid #ccc;
        text-align: left;
      }
    }
  }
}

button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #333;
  background-color: #fff;
  border-radius: 4px;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    transform: scale(1.05);
    background-color: #333;
    color: #fff;
  }
}
